// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
//= require_tree .
//= require_self

html { 
  background-image: image_url('background_main.jpg'); 
}

body {
  #main {
    margin: 0 auto;
    width: 1000px;
    color: white;
    #header {
      #logo {
      }
      #menu_up {
        width: 700px;
        #bug_report {
          display: block;
          width: 180px;
          height: 30px;
          background-image: image_url('bug_report_button.png');
          background-repeat: no-repeat;
          background-position: 0px 0px;
          &:hover {
            background-position: 0px -30px;
          }
        }
        #login {
          text-decoration: none;
          color: white;
          &:hover { color: blue; }
        }
      }
      #menu {
        width: 700px;
        &:after { clear:both; }
        li {
          display: inline;
          #about_game {
            display: block;
            width: 110px;
            height: 58px;
            background-image: image_url('main_menu_buttons.png');
            background-repeat: no-repeat;
            background-position: 0px -2px;
            &:hover {
              background-position: 0px -62px;
            }
          }
          #agent_honor {
            display: block;
            width: 210px;
            height: 58px;
            background-image: image_url('main_menu_buttons.png');
            background-repeat: no-repeat;
            background-position: -110px -2px;
            &:hover {
              background-position: -110px -62px;
            }
          }
          #galacties {
            display: block;
            width: 145px;
            height: 58px;
            background-image: image_url('main_menu_buttons.png');
            background-repeat: no-repeat;
            background-position: -320px -2px;
            &:hover {
              background-position: -320px -62px;
            }
          }
          #help {
            display: block;
            width: 120px;
            height: 58px;
            background-image: image_url('main_menu_buttons.png');
            background-repeat: no-repeat;
            background-position: -465px -2px;
            &:hover {
              background-position: -465px -62px;
            }
          }
          #login {
            display: block;
            width: 120px;
            height: 58px;
            background-image: image_url('main_menu_buttons.png');
            background-repeat: no-repeat;
            background-position: -585px -2px;
            &:hover {
              background-position: -585px -62px;
            }
          }
          #logout {
            display: block;
            width: 120px;
            height: 58px;
            background-image: image_url('main_menu_buttons.png');
            background-repeat: no-repeat;
            background-position: -585px -2px;
            &:hover {
              background-position: -585px -62px;
            }
          }
        }
      }
    }
    #footer {
      #footer_menu {
        padding: 20px 25px;
        background: white;
        li {
          display: inline;
          padding: 0 10px;
          a {
            color: black;
            text-decoration: none;
            &:hover { text-decoration: underline; }
          }
        }
      }
      #copyright {
        color: white;
      }
    }
  }
}
