<!-- footer -->
<div class="footer">
	<div class="center w960">
		<div class="bott_back">
			<div class="bot_nav">
				<a href="/parents#securityTab" class="blue js-hashchange">Защищенность</a>
				<a href="/parents#securityRulesTab" class="blue js-hashchange">Безопасность</a>
				<a href="/oferta">Оферта</a>
				<a href="/useragreement">Соглашение о пользовании</a>
				<a href="#" class="js-not-implemented" data-left="460px" data-top="-40px">О компании</a>
				<a href="/contacts">Контакты</a>
			</div>
			<a href="http://vk.com/sharanavti" class="bott_vk blue">Наша группа ВКонтакте</a>
		</div>
		<div class="copy">
			© 2013 Шаранавты <br/>
			© 2008-2013 Новые Медиа
		</div>
	</div>
</div>