<div class="header">
  <%= render 'vk_like' %>
	
	<% if session[:user_id].nil? %>
		<a href="#log_on" class="bug_button fancybox"></a>
	<% else %>
		<a href="#buger" class="bug_button fancybox"></a>
	<% end %>				
	<% if session[:user_id].nil? %>
		<a href="#log_on" class="right white fancybox js-login-button">Войти на сайт</a>
	<% else %>
		<a href="/logout" class="right white">Выйти</a>
		<a href="/profile/<%= session[:user_id] %>" class="right mr10 yell active">Мой кабинет</a>
	<% end %>
	<div class="clear"></div>

	<div class="top_nav add_err">
		<a href="/about" class="link1"></a>
		<a href="/#" class="link2 no_active js-not-implemented" data-left="80px" data-top="-40px"></a>
		<a href="/galaktidi" class="link3"></a>
		<a href="/#" class="link4 no_active js-not-implemented" data-left="380px" data-top="-40px"></a>
		<% if session[:user_id].nil? %>
			<a href="#log_on" class="link5 fancybox js-play-button"></a>
		<% else %>
			<a href="#game" class="link5 fancybox js-play-button" id="gameLink"></a>
		<% end %>
</div>